.error {
  width: 100%;
  float: left;
  text-align: center;
  font-family: "Century Gothic", Arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 70px 0;
}
